@use "@src/config" as *;

.resultsWrapper {
  overflow-y: auto;
}

table.results {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

@mixin optionalCell {
  &.optional {
    display: none;
  }
  @media (min-width: 34em) {
    &.optional {
      display: table-cell;
    }
  }
}

// query for mobile devices
@mixin whenConfined {
  @media (max-width: $width-md) {
    @content;
  }
}

thead.Head {
  background-color: $color-grey-700;
  position: sticky;
  top: 0px;
  & > th {
    width: min-content;
    &:first-of-type {
      text-align: left;
      // load bearing unquote
      min-width: unquote("0vw");
      // last resort for very thin displays
      @media (max-width: 350px) {
        // cap the upper length at 8 characters, reduce vw basis by 5
        width: clamp(4em, 25vw, 8em);
      }
      width: clamp(8em, 30vw, 22em);
    }
    width: auto;
    font-weight: normal;
    @include optionalCell;
    padding: 0 $size-2;
    @include whenConfined {
      font-size: 0.8em;
    }
  }
}

tr.TableRow {
  & > th.Key {
    font-weight: normal;
    text-align: left;
  }

  & > td.Data,
  & > th.Key {
    color: $color-grey-200;
    word-wrap: break-word;
    padding: $size-4 $size-2;

    @include whenConfined {
      font-size: 0.8em;
    }
  }

  & > td.Data {
    text-align: center;
    &.nowrap {
      white-space: nowrap;
      max-width: min-content;
    }
    &:not(.nowrap) {
      word-wrap: break-word;
    }
    &.mono {
      font-family: $font-mono;
    }
    @include optionalCell;
  }
  &:nth-child(odd) {
    background-color: mix($color-grey-900, $color-blue-700, 95%);
  }
}
