@use "@src/config" as *;

.Omnisearch {
  display: grid;
  grid-template-columns: min-content 1fr;
  & .entryBar {
    grid-column: -1 / 1;
  }
  height: 100%;
}

.results {
  display: grid;
  $max-chips: 6;
  grid-template-columns: repeat($max-chips, auto);
}

.smartInput {
  position: relative;
  & input {
    border: 1px solid $color-grey-300;
    background-color: $color-grey-700;
    &.error {
      background-color: dim($color-red-700);
    }
  }
  & input:not(:focus) {
    & + .keyDropdown {
      opacity: 0;
    }
  }
  & .keyDropdown {
    position: absolute;
    z-index: $layer-2;

    background-color: $color-grey-800;

    display: flex;
    flex-direction: column;
    gap: $size-1;

    border-radius: $radius-xs;

    & > button {
      border: 0;

      line-height: normal;
      -webkit-appearance: none;

      text-align: left;

      padding: $size-1;
      border-radius: $radius-xs;
      color: $color-grey-200;

      background-color: $color-grey-700;
      // don't overpower hover or focus
      &:not(:hover):not(:focus) {
        &:first-of-type {
          background-color: $color-blue-700;
        }
        // only one element, its the first and last
        &:first-of-type:last-of-type {
          background-color: $color-green-700;
        }
      }

      transition: all 0.35s $easing-decelerate;
      transition-property: color, background-color;

      &:hover,
      &:focus {
        color: $color-grey-100;
        background-color: $color-green-500;
      }
    }
  }
}
