.Omnisearch {
  display: grid;
  grid-template-columns: min-content 1fr;
  & .entryBar {
    grid-column: -1 / 1;
  }
}

.results {
  display: grid;
  $max-chips: 3;
  grid-template-columns: repeat($max-chips, 1fr);
}
