@use "../config" as *;

.Renderer {
}

.string {
  color: $color-green-500;
}

.inset {
  background-color: $color-grey-800;
}

.underline {
  text-decoration: underline;
}

.error {
  background-color: $color-red-700;
  color: $color-red-300;
}
