@use "../config" as *;

.Renderer {
  $list-pad-left: $size-10;
  $li-flex-min-width: $size-20;

  overflow-y: scroll;
  & * {
    margin: 0px;
  }

  // element spacing
  & p {
    margin-bottom: $size-1;
  }
  & ul {
    margin-top: $size-2;
    margin-bottom: $size-2;
    padding-left: $list-pad-left;
  }

  // element styles
  & ul.list {
    @for $i from 1 through 10 {
      &[columns="#{$i}"] {
        display: grid;
        padding-left: 0px;
        grid-template-columns: repeat($i, minmax($li-flex-min-width, 1fr));
      }
    }
  }

  & .inset {
    background-color: $color-grey-800;
  }

  & .underline {
    text-decoration: underline;
  }

  & .error {
    background-color: dim($color-red-700);
    color: $color-red-300;
  }

  & i.note {
    color: $color-grey-400;
  }
}
