@use "../config" as *;

.Renderer {
  $list-pad-left: $size-10;
  $li-flex-min-width: $size-40;

  overflow-y: scroll;
  & * {
    margin: 0px;
  }

  // element spacing
  & p {
    margin-bottom: $size-1;
  }
  & ul {
    margin-top: $size-2;
    margin-bottom: $size-2;
    padding-left: $list-pad-left;
  }

  // element styles
  & ul.list {
    &.column {
      // column-count: xxx; is defined in js, safe default of 1
      column-count: 1;
      column-width: $li-flex-min-width;
      padding-left: 0px;
      & > li {
        break-inside: avoid-column;
        margin-left: $list-pad-left;
      }
    }
  }

  & .inset {
    background-color: $color-grey-800;
  }

  & .underline {
    text-decoration: underline;
  }

  & .error {
    background-color: dim($color-red-700);
    color: $color-red-300;
  }

  & i.note {
    color: $color-grey-400;
  }
}
