.chip {
  margin: auto;
  &.primary {
    grid-column-start: 0;
    margin-left: 0px;
  }
  &.final {
    grid-column-end: -1;
    margin-right: 0px;
  }
  &.nowrap {
    white-space: nowrap;
  }
  &:not(.nowrap) {
    white-space: normal;
    word-break: break-all;
  }
}

.chipRow {
  display: contents;
}
