@use "@src/config" as *;

.chipRow {
  display: contents;
  & > .chip {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $size-4 0;
    &:not(:last-of-type) {
      padding-right: $size-2;
    }
    &.primary {
      grid-column-start: 1;
      justify-content: flex-start;
    }
    &.final {
      grid-column-end: -1;
    }
    &:not(.primary):not(.final) {
      text-align: center;
    }
    &.nowrap {
      white-space: nowrap;
    }
    &:not(.nowrap) {
      white-space: normal;
      word-break: break-all;
      overflow-wrap: break-word;
    }
  }
  &:not(:last-of-type) {
    & > .chip {
      border-bottom: 1px solid $color-grey-700;
    }
  }
}
