@use "@src/config" as *;

.resultsWrapper {
  overflow-y: auto;
}

table.results {
  border-collapse: collapse;
  width: 100%;
}

tr.TableRow {
  & > td.Data {
    padding: $size-4 0;
    color: $color-grey-200;
    &:not(:first-of-type) {
      text-align: center;
    }
    &.nowrap {
      white-space: nowrap;
    }
    &:not(.nowrap) {
      white-space: normal;
      word-break: break-all;
      overflow-wrap: break-word;
    }
    &.mono {
      font-family: $font-mono;
    }
  }
  &:nth-child(odd) {
    background-color: mix($color-grey-900, $color-blue-700, 95%);
  }
}
