@use "@src/config" as *;

.DataElement {
  display: flex;
  flex-direction: column;
  & .DataHeader {
    & > h2 > small {
      font-size: $scale-000;
    }
  }
  & .HorizontalPair,
  & .DataHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
